<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Console" name="logconsole" layout="${longdate}|${level}|${logger}|${message} ${exception}" />
	</targets>

	<rules>
		<!-- This is the default ASP.NET Core logging configuration -->
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Routing.EndpointMiddleware" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Cors.Infrastructure.CorsService" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ObjectResultExecutor" maxlevel="Info" final="true" />

		<!--debug logs for this application-->
		<logger name="Lms_Backend.*" minlevel="Debug" writeTo="logconsole" />

		<!-- Everything else Info or higher -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>
